{
    "plugins": [
        "transform-class-properties",
        "syntax-decorators",
        "transform-decorators-legacy",
        "lodash",
        "transform-flow-strip-types",
        ["react-css-modules", {
            "generateScopedName": "[local]___[sha256:hash:base64:5]",
            "filetypes": {
                ".less": {
                    "syntax": "postcss-less"
                }
            }
        }],
        ["transform-semantic-ui-react-imports", {
            "convertMemberImports": true,
            "importType": "es",
            "addLessImports": true
        }],
        ["react-intl", {
            "messagesDir": "./build/i18n/"
        }]
    ],
    "presets": [
        [
            "env", {
                "targets": {
                    "browsers": ["last 3 versions"]
                }
            }
        ],
        "react",
        "stage-0"
    ]
}
